{% extends 'productos_app/base.html' %}
{% load static %}

{% block title %}Agregar Producto{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'productos_app/agregar.css' %}">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h1 class="card-title mb-4">Agregar Producto</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="mb-3">
                        <div class="form-label-container">
                            <label for="{{ form.nombre.id_for_label }}" class="form-label">Nombre del Producto:</label>
                            {{ form.nombre }}
                            {{ form.nombre.errors }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label-container">
                            <label for="{{ form.descripcion.id_for_label }}" class="form-label">Descripción:</label>
                            {{ form.descripcion }}
                            {{ form.descripcion.errors }}
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="form-label-container">
                            <label for="{{ form.precio.id_for_label }}" class="form-label">Precio:</label>
                            {{ form.precio }}
                            {{ form.precio.errors }}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.disponible }}
                        {{ form.disponible.label_tag }}
                        {{ form.disponible.errors }}
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar Producto</button>
                </form>
                <a href="{% url 'list_products' %}" class="btn btn-link mt-3">Volver a la Lista de Productos</a>
            </div>
        </div>
    </div>
{% endblock %}